<div class="sign-content-component">
  <!-- Sign Info -->
  <div class="sign-content" *ngIf="!isEditing">
    <h3 class="sign-content-title">{{ titleText(sign) }}</h3>
    <p class="sign-content-first-line"> <small>{{ firstLineText(sign) }}</small></p>
  </div>

  <!-- Sign Edit Form -->
  <div *ngIf="isEditing" class="sign-content-edit-form">
    <form flex name="signForm" class="sign-listitem-form" layout="column">

      <!-- Choose ONE Key Data Input Based on Sign Type -->
      <div [ngSwitch]="sign.signName">
        <!-- email -->
        <md-input-container *ngSwitchCase="'email'">
          <i class="{{helpers.buildIconClass('envelope', 1)}}"></i>
          <input md-input type="email" name="email" [(ngModel)]="sign.email" placeholder="emailmee@example.com"/>
        </md-input-container>

        <!-- phone -->
        <md-input-container *ngSwitchCase="'phone'">
          <i class="{{helpers.buildIconClass('phone', 1)}}"></i>
          <input md-input type="tel" name="phone" [(ngModel)]="sign.phone" placeholder="(555)555-5555"/>
        </md-input-container>

        <!-- Website -->
        <md-input-container *ngSwitchCase="'website'">
          <i class="{{helpers.buildIconClass('globe', 1)}}"></i>
          <input md-input type="url" name="website" [(ngModel)]="sign.linkUrl" placeholder="www.mywebsite.com"/>
        </md-input-container>

      </div>

      <!-- description -->
      <md-input-container layout="row">
        <i class="{{helpers.buildIconClass('info-circle', 1)}}"></i>
        <input md-input type="text" name="desc" [(ngModel)]="sign.description" placeholder="short description" md-maxlength="30">
      </md-input-container>

      <!-- form buttons -->
      <div>
        <!-- ok button -->
        <a (click)="save(sign)" type="submit" class="sign-listitem-saveicon">
          <i class="{{helpers.buildIconClass('check', 2)}}"></i>
        </a>
        <!-- cancel button -->
        <a (click)="cancel()" class="sign-listitem-cancelicon">
          <i *ngIf="!showPreviewLabel" class="{{helpers.buildIconClass('times', 2)}}"></i>
          <p *ngIf="showPreviewLabel"  class="preview-label">Preview</p>
        </a>
      </div>
    </form>
  </div>

  <!-- Right Sign Management Icons Container -->
  <div *ngIf="auth.isLoggedIn && isOwner" [style.background]="sign.bgColor" class="sign-management-icons-container">
    <!-- Delete Icon -->
    <div class="sign-delete-icon">
      <a (click)="destroy()" class="sign-delete-icon">
        <i class="fa fa-times fa-1x" aria-hidden="true"></i>
      </a>
    </div>
    <!-- Edit Icon -->
    <div *ngIf="!isEditing" class="sign-edit-icon">
      <a (click)="toggleEditing()" class="edit-icon">
        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
