<!-- Watermark - Shows Over Sign During Preview -->
<div *ngIf="showPreviewLabel" class="preview-watermark">p r e v i e w</div>

<!-- Sign Content Area & Content Form Area -->
<div class="sign-content-component">
  <!-- Sign Info -->
  <div class="sign-content" *ngIf="!isEditing">
    <h3 class="sign-content-title">{{ sign.signName }}</h3>
    <p class="sign-content-first-line"> <small>{{ sign.description }}</small></p>
    <a href="{{sign.linkUrl}}" class="sign-content-second-line"> {{ sign.linkUrl }} </a>
  </div>

  <!-- Sign Edit Form -->

  <div *ngIf="isEditing" class="sign-content-edit-form">
    <form flex name="signForm" class="sign-listitem-form" layout="column">
      <!-- sign Title -->
      <md-input-container layout="row">
        <i class="{{helpers.buildIconClass('star', 1)}}"></i>
        <input md-input type="text" name="title" [(ngModel)]="sign.signName" placeholder="Sign Title" md-maxlength="30">
      </md-input-container>

      <!-- url -->
      <md-input-container layout="row">
        <i class="{{helpers.buildIconClass('link', 1)}}"></i>
        <input md-input type="url" name="url" [(ngModel)]="sign.linkUrl" placeholder="http://www.somewebsite.com/..."/>
      </md-input-container>

      <!-- knownAs/username -->
      <md-input-container layout="row">
        <i class="{{helpers.buildIconClass('user-o', 1)}}"></i>
        <input md-input type="text" name="username" [(ngModel)]="sign.knownAs" placeholder="@myusername" md-maxlength="30">
      </md-input-container>

      <!-- description -->
      <md-input-container layout="row">
        <i class="{{helpers.buildIconClass('info-circle', 1)}}"></i>
        <input md-input type="text" name="desc" [(ngModel)]="sign.description" placeholder="short description" md-maxlength="30">
      </md-input-container>


      <!-- form buttons -->
      <div>
        <!-- ok button -->
        <a (click)="save(sign)" type="submit" class="sign-listitem-saveicon">
          <i class="{{helpers.buildIconClass('check', 2)}}"></i>
        </a>
        <!-- cancel button -->
        <a (click)="cancel()" class="sign-listitem-cancelicon">
          <i *ngIf="!showPreviewLabel" class="{{helpers.buildIconClass('times', 2)}}"></i>
          <p *ngIf="showPreviewLabel"  class="preview-label">Preview</p>
        </a>
      </div>

    </form>
  </div>

  <!-- Right Sign Management Icons Container -->
  <div *ngIf="auth.isLoggedIn && isOwner" [style.background]="sign.bgColor" class="sign-management-icons-container">
    <!-- Delete Icon -->
    <div class="sign-delete-icon">
      <a (click)="destroy()" class="sign-delete-icon">
        <i class="fa fa-times fa-1x" aria-hidden="true"></i>
      </a>
    </div>
    <!-- Edit Icon -->
    <div *ngIf="!isEditing" class="sign-edit-icon">
      <a (click)="toggleEditing()" class="edit-icon">
        <i class="fa fa-pencil fa-1x" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
