.sign {
  border: 3px solid #c9c9c9;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

/*Div Group*/
.sign-image-container {
  display: flex;
  flex-direction: column;
}
.sign-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  padding-left: 10px;
}

.sign-image {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
