<div id="{{'sign_' + sign._id}}" layout="row" class="sign">

  <!-- Main Icon -->
  <div class="sign-image-container">
    <!-- // TODO: MAKE THE DIRECTIVE THAT MAKES THIS A HOVER IMAGE ICON WITH PICTURE -->
    <!-- <img src="{{sign.picUrl}}" alt="{{sign.signType + ' optional image'}}" class="sign-listitem-image" height="60" width="60"> -->
    <a href="{{sign.linkUrl}}" class="sign-image">
      <i class="{{helpers.buildIconClass(sign.icon, 4)}}"></i>
    </a>
  </div>

  <!-- Sign Content & Edit Form-->
  <div class="sign-content-container">
    <div [ngSwitch]="getFormType(sign.signType)">
      <default-sign-content *ngSwitchCase="'default'" [sign]="sign"></default-sign-content>
      <custom-sign-content  *ngSwitchCase="'custom'"  [sign]="sign"></custom-sign-content>
      <email-sign-content   *ngSwitchCase="'email'"   [sign]="sign"></email-sign-content>
      <phone-sign-content   *ngSwitchCase="'phone'"   [sign]="sign"></phone-sign-content>
    </div>
  </div>
</div>
