<md-card id="{{'sign_' + sign._id}}" layout="row" class="sign-listitem">

  <!-- Main Icon -->
  <div class="sign-listitem-icon">
    <!-- // TODO: MAKE THE DIRECTIVE THAT MAKES THIS A HOVER IMAGE ICON WITH PICTURE -->
    <a href="{{sign.linkUrl}}">
      <i class="{{helpers.buildIconClass(sign.icon)}}"></i>
      <img src="{{sign.picUrl}}" alt="{{sign.signType + ' optional image'}}" class="sign-listitem-image" height="{{icons.size}}" width="{{icons.size}}">
    </a>
  </div>

  <div layout="column" flex>

    <div class="sign-listitem-info" layout="column" flex>

      <!-- sign display items -->
      <div class="sign-listitem-content" *ngIf="!isEditing">
        <!-- TODO: INSTEAD OF ng-if, PROVIDE DIRECTIVES FOR EACH TYPE OF SIGN: TYP-AUTO, CUSTOM, Phone, Email... -->
        <h3 class="sign-listitem-title" *ngIf="sign.signType === 'custom'">
          {{sign.signName}}
        </h3>
        <p class="sign-listitem-knownas"> {{ sign.knownAs }} </p>
        <p class="sign-listitem-desc"> <small>{{sign.description}}</small> </p>

        <!-- edit icon -->
        <div *ngIf="isOwner(sign) && !isEditing">
          <a (click)="toggleEditing()" class="sign-listitem-editicon">
            <i class="fa fa-pencil fa-4" aria-hidden="true"></i>
          </a>
        </div>
      </div>

      <!-- *****WHEN MAKE CUSTOM SIGN TYPES, SWITCH WILL BE UP HIGHER & FORM ASSIGNED DIRECTLY***** -->
      <!-- Dynamic Edit Form to match signType -->
      <div [ngSwitch]="getFormType(sign.signType)" *ngIf=isEditing>
        <custom-sign-form
          *ngSwitchCase="'custom'"
          [sign]="sign"
          (close)="onClose($event)"
          (submit)="onSubmit($event)"
        ></custom-sign-form>
        <default-sign-form
          *ngSwitchCase="'default'"
          [sign]="sign"
          (close)="onClose($event)"
          (submit)="onSubmit($event)"
        ></default-sign-form>
        <email-sign-form
          *ngSwitchCase="'email'"
          [sign]="sign"
          (close)="onClose($event)"
          (submit)="onSubmit($event)"
        ></email-sign-form>
        <phone-sign-form
          *ngSwitchCase="'phone'"
          [sign]="sign"
          (close)="onClose($event)"
          (submit)="onSubmit($event)"
        ></phone-sign-form>
      </div>

    </div>

  </div>

  <!--
    Sign Icon Link (left) w/color of sign or custom
    Name
    Type of Sign (custom ONLY)
    Small Edit Icon (bott right) if owner: sign.userID === user._id
  -->
</md-card>
