.sign-container {
  display: flex;
  flex-direction: row;
}
.sign {
  /*background-color: #8d8d8d;*/
  border: 3px solid #c9c9c9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  padding: 5px;
  position: relative;
  min-width: 0px;
  width: 100%;
  max-width: 600px;
  z-index: 999;
  transform: rotate(0deg);
}

.sign-image-container {
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  height: 66px;
  text-align: center;
}
i.underlay-icon {
  margin-left: 10px;
  transform:translateY(-7px);
  opacity: 0.4;
  width: 70px;
  z-index: 1;
}
.centered-item {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.sign-image {
  border-radius: 3px;
}

.sign-content-container {
  display: flex;
  flex-direction: row;
  flex-grow: 2;
  margin-left: -70px;
  /*transform: translateX(-70px);    This was stealing the edit icon fixed reference*/
  z-index: 10;                  /*This is for the overlap with icon*/
}

.sign-angled-tip {
  border-top:    44px solid transparent;
  border-bottom: 44px solid transparent;
  border-left:   44px solid blue;
  display: flex;
  align-self: flex-end;
  margin-left: -2px;
  width: 0;
  height: 0;
}


