.search-box {
  margin-top: 20px;
}

.search-results-container {
  max-width: 750px;
}

.search-results-heading {
  color: white;
  font-family: helvetica, sans-serif;
  font-weight: normal;
  text-align: center;
}

.md-input-element {
  color: white;
}

.search-box-form {
  display: flex;
  flex-direction: row;
}
