.search-subheading {
  font-family: helvetica, sans-serif;
  color: white;
}

.search-results-user-sign {
  text-decoration: none;
}
.search-results-signs {
  text-decoration: none;
}

ul {
  list-style: none;
}

ul li {
  margin-bottom: 5px;
}
